:root {
  /* colors */
  --clr-nutmeg: hsl(14, 45%, 36%);
  --clr-dark-raspberry: hsl(332, 51%, 32%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-rosewhite: hsl(330, 100%, 98%);
  --clr-eggshell: hsl(30, 54%, 90%);
  --clr-light-grey: hsl(30, 18%, 87%);
  --clr-wenge-brown: hsl(30, 10%, 34%);
  --clr-dark-charcoal: hsl(24, 5%, 18%);
  /*fonts  */
  --ff-header: 'Young Serif', serif;
  --ff-primary: 'Outfit', sans-serif;

  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;

  --fs-paragraph: 16px;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: var(--ff-primary);
}

html,
body {
  height: 100%;
  color: var(--clr-wenge-brown);
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 200%;
}

h1,
h2:not(#preparation-time__header) {
  font-family: var(--ff-header);
  font-weight: var(--fw-400);
}

h1 {
  font-size: 2rem;
  color: var(--clr-dark-charcoal);
}

h2 {
  color: var(--clr-nutmeg);
}

.bold-text {
  font-weight: var(--fw-600);
}

.recipe-container img {
  width: 100%;
  height: auto;
}

.recipe-container section {
  padding: 1.5rem 1rem;
}

#preparation-time__header {
  color: var(--clr-dark-raspberry);
  font-weight: var(--fw-600);
}

#pink-box {
  background-color: var(--clr-rosewhite);
  padding: 1rem;
  border-radius: 10px;
}

#pink-box li::marker {
  color: var(--clr-dark-raspberry);
}

#ingredients li::marker,
#instructions li::marker,
td {
  color: var(--clr-nutmeg);
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid var(--clr-light-grey);
  margin: 2em 1em;
  padding: 0;
}

table {
  width: 100%;
}

tr {
  height: 3rem;
}

th {
  text-align: left;
  font-weight: var(--fw-400);
  padding-left: 2rem;
}

td {
  font-weight: var(--fw-600);
}

th,
td {
  border-bottom: 1px solid var(--clr-light-grey);
}

table tr:last-child th,
table tr:last-child td {
  border-bottom: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 700px) {
  body {
    background-color: var(--clr-eggshell);
  }

  .recipe-container {
    width: 80vw;
    max-width: 802px;
    height: fit-content;
    background-color: var(--clr-white);
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 2rem;
    border-radius: 10px;
  }

  .recipe-container img {
    border-radius: 5px;
  }
}

@media (min-width: 1440px) {
  body {
    background-color: var(--clr-eggshell);
  }

  .recipe-container {
    width: 50vw;
    max-width: 802px;
    height: fit-content;
    background-color: var(--clr-white);
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 2rem;
    border-radius: 10px;
  }

  .recipe-container img {
    border-radius: 5px;
  }
}
